{% extends "layout.html" %}
{% block content %}
  {% if recipe_type == 'user_recipes' %}
    <h1 class="mb-3"> Recipes by {{ user.username }} ({{ posts.total }}) </h1>
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + user.image_file) }}">
  {% elif recipe_type == 'saved_recipes' %}
    <h1 class="mb-3"> Recipes saved by {{ user.username }} ({{ posts.total }}) </h1>
  {% endif %}
    {% for post in posts.items %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_recipes', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('recipe_page', recipe_id=post.id) }}">{{ post.dish_name }}</a></h2>
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ url_for('static', filename='recipe_pictures/' + post.image_file) }}" class="img-fluid rounded-start" style="object-fit: cover;" alt="...">
                  </div>
                  <div class="card-body flex-grow-1 col-md-8 d-flex flex-column position-relative">
                        <dl class="row">
                            <dt class="col-sm-3">Time Needed</dt>
                            <dd class="col-sm-9">{{ post.time_needed }}</dd>
                            <dt class="col-sm-3">Serves</dt>
                            <dd class="col-sm-9">{{ post.serves}} Servings </dd>
                            <dt class="col-sm-3">Ingredients</dt>
                            <dd class="col-sm-9">{{ post.ingredients }}</dd>
                        </dl>
                  </div>
                </div>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('user_recipes', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('user_recipes', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}