{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="d-flex flex-wrap justify-content-start gap-3">
            {% for post in posts.items %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='recipe_pictures/' + post.image_file)}}" class="card-img-top .img-fluid" style="height:250px; object-fit: cover;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.dish_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <a href="{{ url_for('user_recipes', username=post.author.username)}}">Recipe by: {{ post.author.username }}</a>
                        </h6>
                        <p class="card-text">Prep time: {{ post.time_needed }}</p>
                        <a href="{{ url_for('recipe_page', recipe_id=post.id)}}" class="btn btn-primary">View Recipe</a>
                    </div>
                    </div>
            {% endfor %}
        </div>
    </article>
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('home_page', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('home_page', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}