{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.dish_name }}</a></h2>
            <dl class="row">
                <dt class="col-sm-3">Ingredients</dt>
                <dd class="col-sm-9">{{ post.ingredients }}</dd>
                <dt class="col-sm-3">Instructions</dt>
                <dd class="col-sm-9">{{ post.recipe }}</dd>
        </article>
    {% endfor %}
{% endblock content %}