{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.dish_name }}</a></h2>
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ post.pic }}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Ingredients</dt>
                            <dd class="col-sm-9">{{ post.ingredients }}</dd>
                            <dt class="col-sm-3">Time Needed</dt>
                            <dd class="col-sm-9">{{ post.time }}</dd>
                            <dt class="col-sm-3">Instructions</dt>
                            <dd class="col-sm-9">{{ post.recipe }}</dd> 
                            <dt class="col-sm-3">Warnings</dt>
                            <dd class="col-sm-9">{{ post.warnings }}</dd>
                        </dl>
                    </div>
                  </div>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}