{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename=post.author.image_file) }}">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('user_recipes', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            {% if post.author == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_recipe', recipe_id=post.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
              </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ post.dish_name }}</h2>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="{{ post.pic }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Ingredients</dt>
                        <dd class="col-sm-9">{{ post.ingredients }}</dd>
                        <dt class="col-sm-3">Time Needed</dt>
                        <dd class="col-sm-9">{{ post.time }}</dd>
                        <dt class="col-sm-3">Instructions</dt>
                        <dd class="col-sm-9">{{ post.recipe }}</dd> 
                        <dt class="col-sm-3">Warnings</dt>
                        <dd class="col-sm-9">{{ post.warnings }}</dd>
                    </dl>
                </div>
                </div>
            </div>
        </div>
    </article>
      <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Recipe?</h5>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{{ url_for('delete_recipe', recipe_id=post.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}
