{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3"> Recipes by {{ user.username }} ({{ posts.total }}) </h1>
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + user.image_file) }}">
    {% for post in posts.items %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_recipes', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('recipe_page', recipe_id=post.id) }}">{{ post.dish_name }}</a></h2>
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ url_for('static', filename='recipe_pictures/' + post.image_file) }}" class="img-fluid rounded-start" style="object-fit: cover;" alt="...">
                  </div>
                  <div class="card-body flex-grow-1 col-md-8 d-flex flex-column position-relative">
                        <dl class="row">
                            <dt class="col-sm-3">Time Needed</dt>
                            <dd class="col-sm-9">{{ post.time_needed }}</dd>
                            <dt class="col-sm-3">Serves</dt>
                            <dd class="col-sm-9">{{ post.serves}} Servings </dd>
                            <dt class="col-sm-3">Ingredients</dt>
                            <dd class="col-sm-9">{{ post.ingredients }}</dd>
                            <dt class="col-sm-3">Instructions</dt>
                            <dd class="col-sm-9">{{ post.recipe }}</dd> 
                            <dt class="col-sm-3">Warnings</dt>
                            <dd class="col-sm-9">{{ post.warnings }}</dd>
                        </dl>
                        {% if current_user.is_authenticated %}
                        <!-- Save button -->
                       <button type="button" class="btn btn-success position-absolute bottom-0 end-0 m-3">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                               <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                           </svg>
                       </button>
                       {% endif %}
                  </div>
                </div>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('user_recipes', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('user_recipes', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}