{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3"> Recipes by {{ user.username }} ({{ posts.total }}) </h1>
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename=post.author.image_file) }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_recipes', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('recipe_page', recipe_id=post.id) }}">{{ post.dish_name }}</a></h2>
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ post.pic }}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Ingredients</dt>
                            <dd class="col-sm-9">{{ post.ingredients }}</dd>
                            <dt class="col-sm-3">Time Needed</dt>
                            <dd class="col-sm-9">{{ post.time }}</dd>
                            <dt class="col-sm-3">Instructions</dt>
                            <dd class="col-sm-9">{{ post.recipe }}</dd> 
                            <dt class="col-sm-3">Warnings</dt>
                            <dd class="col-sm-9">{{ post.warnings }}</dd>
                        </dl>
                    </div>
                  </div>
                </div>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('user_recipes', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('user_recipes', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}